*.iml
.gradle
/local.properties
/.idea/
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.idea/compiler.xml
.idea/compiler.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
